<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Sign Up</title>
</head>
<body>
	<h1>Sign Up</h1>
	<a href="/SignUp">Sign Up</a>
	<a href="/Login">Login</a>
	<a href="/Index">Index</a>
	<a href="/Wallet">Wallet</a>
	<a href="/Safemoon">Safemoon</a>
	<form th:action="@{/registerAccount}" method="POST" th:object="${account}">
		<label>Email</label><input type="email" placeholder="Enter email.." th:field="*{email}" required/><br>
		<label>Password</label><input type="password" placeholder="Enter password.." th:field="*{password}" required/><br>
		<label>Confirm Password</label><input type="password" placeholder="Confirm password.." name="confirmPassword" required/><br>
		<input type="submit" value="Sign Up"/>
	</form>
</body>
</html>