<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Wallet</title>
</head>
<body>
	<h1>Wallet</h1>
	<a href="/SignUp">Sign Up</a>
	<a href="/Login">Login</a>
	<a href="/Index">Index</a>
	<a href="/Wallet">Wallet</a>
	<a href="/Safemoon">Safemoon</a>
	<form th:action="@{/SubmitAddress}" method="GET">
		<input type="text" placeholder="Enter address.." name="address"/><br>
		<input type="submit" value="Update"/>
	</form>
	<h2>Address: <span th:text="${address}"></span></h2>
	<h3>Safemoon Balance:</h3>
	<p><span th:text="*{totalSafemoonBalance}"></span> Safemoon (<span th:text="${safemoonBalance}"></span> SFM + <span th:text="${pSafemoonBalance}"></span> pSFM)</p>
	<h3>Safemoon Reflections:</h3>
	<p><span th:text="*{reflections}"></span> Reflections</p>
	<h3>Safemoon Transactions:</h3>
	<ul>
		<li th:each="safemoonTransaction : ${safemoonTransactions}">
			<p>Time: <span th:text="*{safemoonTransaction.timeStamp}"></span></p>
			<p>Type: <span th:text="*{safemoonTransaction.type}"></span></p>
			<p>Amount: <span th:text="*{safemoonTransaction.value}"></span></p>
		</li>
	</ul>
	<p>Powered by BscScan.com APIs, Etherscan.io APIs</p>
</body>
</html>